
body { 
    font-family: Georgia, 'Times New Roman', serif;

    margin: 0;
    padding: 0;
    color: black;
}


header {
    background-color: lightsteelblue; 
    padding: 5px;
}
header h1 { 
    color: white;
    margin: 0;
}
main { 
    background-color: white;
    padding: 20px; 
    /* max-width: 1000px; */
    margin: auto;
}
.doctor {
    display: block;
    max-width: 100%;
    margin: 20px auto;
    border: 4px solid white;
}
h2 { 
    color: blue;

}
h3 {
    background-color: yellow;
    padding: 5px ;
}

.yellow {
    background-color: yellow;
    padding: 5px ;
    margin: 0;
}
.red { 
    color: red;
}
h4 {
    color: yellow;
    background-color: green;
    padding: 5px;
}
.green {
    background-color: lightgreen;
}
h5 {
    color: red;
    padding: 5px;
    padding-bottom: 5px;
    margin-bottom: 0;
}
a{
    text-decoration: none;
    color:green
    
    
}
a:visited{
    text-decoration: none;
    color: blue;
}
a:hover{
    text-decoration: underline;
    color: red;
}